include pug/libs/_libs

doctype html
html(lang="ru")
  include pug/_head
  body
    .container
      h1 Hello from Webpack!
      h2(class="container__subtitle") Subtitle
      +image('cute')
      +image('cat')
      .block
      .user